<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/login.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login to ChatMe</title>
</head>
<body>
    <div class="mainContainer">
        <div class="greenStrip"></div>
        <div class="whiteStrip"></div>
    </div>
    <div class="centeredContainer">
        <div class="form">
            <input id="username" type="text" name="username" placeholder="username" required>
            <input id="password" type="password" name="password" placeholder="password" required>
            <button id="continueButton" >Continue</button>
        </form>
    </div>
    <script src="/login_script.js"></script>
</body>
</html>